.style-nav {
    background: #8e2735;
    padding: 0px 16px 5px 16px !important;
}

.under-name {
    font-size: 25px;
    font-style: italic;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.under-name,
.item {
    color: rgb(248, 225, 121);
}

.navbar-nav, 
.name,
.active {
    color: rgb(255, 196, 0) !important;
}

.item,
.navbar-nav {
    font-size: 25px;
    font-weight: 500;
    margin-right: 15px;
    
}

.under-name,
.name {
    margin-left: 20px;
}

.item:hover {
    color: rgb(255, 196, 0) !important;
}

.name {
    font-size: 40px;
    padding-top: 10px;
    margin-bottom: 10px;
}