.resume-page {
    margin: 30px 120px 0px 80px;
    min-height: 750px;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

h4 {
    font-size: 20px;
    text-decoration: underline;
}

.resume-bttn {
    height: 40px;
    width: 120px;
    border: 4px;
    border-color:#8e2735;
    border-style: solid;
    font-weight: bold;
    background:  rgb(243, 214, 85);
    margin-bottom: 40px;
}

.resume-bttn:hover {
    background: rgb(255, 196, 0) !important;
}

.proficiencies {
    display: flex;
}

.front-end-div {
    margin-right: 100px;
}

.download-text {
    font-style: italic;
    font-size: 15px;
}