.resume-page {
    margin: 30px 120px 0px 80px;
    min-height: 750px;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
}

.resume-bttn {
    height: 40px;
    width: 120px;
    border: 3px;
    border-color:#8e2735;
    border-style: solid;
    font-weight: bold;
    background:  rgb(248, 225, 121);
    margin-bottom: 40px;
}