.portfolio-image {
    height: 350px;
    width: 550px;
    opacity: 0.5;
}

.portfolio-page {
    margin: 30px 120px 0px 80px;
    min-height: 750px;
}

.two-cards {
    display: flex;
}

.portfolio-card {
    position: relative;
    margin: 30px;
    border: 4px;
    border-style: solid;
    background-color: white;
}

.project-anchor {
    position: absolute;
    bottom: 50px;
    left: 0px;
    margin-bottom: 20px;
    color: rgb(248, 225, 121);
    text-decoration: none;
    background:#8e2735;
    border: 3px;
    border-style: solid;
    border-color: black;
    padding: 7px 17px;
    font-size: 20px;
    font-weight: bold;
}

.project-anchor:hover {
    color: rgb(255, 196, 0);
    text-decoration: none;
}

.git-anchor {
    position: absolute;
    bottom: 20px;
    left: 0px;
    color: black;
    background: rgb(248, 225, 121);
    padding: 0px 7px;
    border: 2px;
    border-style: solid;
    border-color: black;
}

.git-anchor:hover {
    background: rgb(255, 196, 0);
    color: black;
}